body {
		margin:0;
		padding:0;
}
#input {
		position: absolute;
		top: 10px;
		left:10px;
		z-index: 1;
		font-family: Consolas, monospace;
		font-size: 10pt;
		border: 0;
		background-color: #666;
		color: #FFF;
}

#buffer {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: #666
}

/* .char, .cursor{
		float: left;
}*/

span.cursor{
		width: 0;
		border-left: 1px solid #FFF;
		margin-left: -1px;
}


/*
.cursor + div.char.normal{
		background-color: #66C;
}
*/

span.char.normal{
		background-color: #777;
		vertical-align: top;
		/* margin-right: 1px; */
}

.line{
/*		float: none; */
/*		clear: both; */
/*		overflow: hidden; */
		padding: 1px;
}

.line.current{
		background-color: #669;
}

html {
		font-family: Consolas, monospace;
		background-color: #666;
		color: #FFF;
		font-size: 10pt;
}

#status{
		background-color: #000;
		position: fixed;
		bottom: 20px;
		width: 100%;
		z-index: 100;
}
#mini-buffer{
		background-color: #666;
		position: fixed;
		bottom: 0px;
		width: 100%;
		z-index: 100;
}

.EOF{
		height: 100px;
}

/*.mark.visible{ */
.mark{
		width: 0;
		margin-left: -1px;
}
.mark.visible{ 
		border-left: 2px dotted yellow;
}
.mark.visible.latest{
		border-left: 2px dotted red;
}
